@font-face {
    font-family: "LCD Monospace";
    src : url(LCDMB___.TTF);
}

body {
    /*width: 100%;
    height: 100%;*/
    margin : 0px;
    padding : 6px;
    font-family: "LCD Monospace";
    font-size: 4em;
    color: Gold;
    background-color: Black;
    }



table td {
    font-size: 4em !important;
    padding-right: 0.25em;
    }

.left {
     float: left;   
}

.right {
    float: right;   
}


.centrered {
    margin-left: auto;
    margin-right: auto;

}

.hidden {
    visibility: hidden;
}

.tenpercent {
    width : 10%;
}

.twentypercent {
    width : 20%;
}

.bigtext {
    font-size: inherit;
    text-align: center;

}

.teamscore {
    width: 50%
}

.score {
    text-align : right;
}

.teamplaying {
    text-align: center;
    font-size: 3em;
    width: 50%;
    height: 84px;
    margin-top : -56px;
}

table.answers {
    width: 60%;
    height: 90%;
    vertical-align: middle;
    margin-left: 0px;
    margin-right: 0px;
}


table.small_x {
    height : 90%;
    width : 100%;
    vertical-align : middle;
    text-align: center;

}
table.big_x {
    height : 100%;
    width : 100%;
    vertical-align : middle;
}
            