@font-face {
    font-family: "LCD Monospace";
    src : url(LCDMB___.TTF);
}

body {
    width: 100%;
    height: 100%;
    margin : 0px;
    padding : 0px;
    font-family: "LCD Monospace";
    color: Gold;
    background-color: Black;
    }

table td {
    /* font-size: 12em !important; */
    }

.left {
     float: left;   
}

.right {
    float: right;   
}


.centrered {
    margin-left: auto;
    margin-right: auto;

}

.hidden {
    visibility: hidden;
}
table.answers {
    width: 60%;
    height: 100%;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}
table.small_x {
    height : 100%;
    width : 10%;
    vertical-align : middle;

}
table.big_x {
    height : 100%;
    width : 10%;
    vertical-align : middle;
}
            